body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Line1
{
   border-color: #D71E28;
   border-style: solid;
   border-bottom-width: 96px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-style: solid;
   border-bottom-width: 24px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   direction: ltr;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 585px;
   top: 0px;
   width: 467px;
   height: 79px;
   z-index: 4;
}
#wb_Text4
{
   position: absolute;
   left: 1210px;
   top: 27px;
   width: 250px;
   height: 24px;
   z-index: 7;
}
#wb_Text5
{
   position: absolute;
   left: 1356px;
   top: 27px;
   width: 250px;
   height: 24px;
   z-index: 8;
}
#Line1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1853px;
   z-index: 2;
}
#wb_Text1
{
   position: absolute;
   left: 1341px;
   top: 36px;
   width: 66px;
   height: 24px;
   visibility: hidden;
   z-index: 5;
}
#wb_Text2
{
   position: absolute;
   left: 1438px;
   top: 36px;
   width: 158px;
   height: 24px;
   visibility: hidden;
   z-index: 6;
}
#Line2
{
   position: absolute;
   left: 0px;
   top: 96px;
   width: 1819px;
   z-index: 3;
}
#wb_Text3
{
   position: absolute;
   left: 97px;
   top: 59px;
   width: 250px;
   height: 74px;
   z-index: 0;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 603px;
   top: 149px;
   width: 431px;
   height: 302px;
   z-index: 9;
}
@media only screen and (min-width: 1280px) and (max-width: 1654px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 335px;
   top: 740px;
   width: 62px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 1462px;
   height: 66px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 66px;
}
#Line2
{
   left: 0px;
   top: 66px;
   width: 1462px;
   height: 27px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 27px;
}
#wb_Image1
{
   left: 446px;
   top: 0px;
   width: 356px;
   height: 55px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 931px;
   top: 7px;
   width: 66px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 1115px;
   top: 7px;
   width: 158px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 930px;
   top: 15px;
   width: 250px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 1129px;
   top: 15px;
   width: 250px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 191px;
   top: 140px;
   width: 1072px;
   height: 340px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 36px;
   top: 25px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 268px;
   top: 592px;
   width: 50px;
   height: 10px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 53px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 53px;
}
#Line2
{
   left: 0px;
   top: 53px;
   width: 1170px;
   height: 22px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 22px;
}
#wb_Image1
{
   left: 357px;
   top: 0px;
   width: 285px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 745px;
   top: 6px;
   width: 66px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 892px;
   top: 6px;
   width: 158px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 744px;
   top: 12px;
   width: 250px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 839px;
   top: 12px;
   width: 159px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 153px;
   top: 112px;
   width: 858px;
   height: 272px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 29px;
   top: 20px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 201px;
   top: 444px;
   width: 38px;
   height: 8px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 878px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 40px;
}
#Line2
{
   left: 0px;
   top: 40px;
   width: 878px;
   height: 17px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 17px;
}
#wb_Image1
{
   left: 268px;
   top: 0px;
   width: 214px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 559px;
   top: 5px;
   width: 66px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 669px;
   top: 5px;
   width: 158px;
   height: 12px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 498px;
   top: 8px;
   width: 70px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 601px;
   top: 8px;
   width: 164px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 115px;
   top: 84px;
   width: 644px;
   height: 204px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 22px;
   top: 15px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 126px;
   top: 278px;
   width: 24px;
   height: 5px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 549px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 25px;
}
#Line2
{
   left: 0px;
   top: 25px;
   width: 549px;
   height: 11px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 11px;
}
#wb_Image1
{
   left: 168px;
   top: 0px;
   width: 134px;
   height: 21px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 349px;
   top: 3px;
   width: 66px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 398px;
   top: 3px;
   width: 82px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 349px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 349px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 72px;
   top: 53px;
   width: 403px;
   height: 128px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 14px;
   top: 9px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 420px) and (max-width: 479px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 111px;
   top: 244px;
   width: 21px;
   height: 5px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 481px;
   height: 22px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 22px;
}
#Line2
{
   left: 0px;
   top: 22px;
   width: 481px;
   height: 10px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 10px;
}
#wb_Image1
{
   left: 147px;
   top: 0px;
   width: 118px;
   height: 19px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 283px;
   top: 3px;
   width: 66px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 337px;
   top: 3px;
   width: 158px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 306px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 306px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 63px;
   top: 47px;
   width: 353px;
   height: 112px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 13px;
   top: 8px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 370px) and (max-width: 419px)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 98px;
   top: 215px;
   width: 19px;
   height: 5px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 473px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 20px;
}
#Line2
{
   left: 0px;
   top: 20px;
   width: 473px;
   height: 9px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 9px;
}
#wb_Image1
{
   left: 130px;
   top: 0px;
   width: 104px;
   height: 17px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 246px;
   top: 3px;
   width: 66px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 292px;
   top: 3px;
   width: 158px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 270px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 270px;
   top: 6px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 56px;
   top: 42px;
   width: 311px;
   height: 99px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 11px;
   top: 7px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 369px) and (orientation: portrait)
{
body
{
   background-color: #C0C0C0;
   background-image: url('images/wells-fargo-1_0.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#BuildWith1
{
   left: 85px;
   top: 186px;
   width: 17px;
   height: 5px;
   visibility: visible;
   display: inline;
}
#Line1
{
   left: 0px;
   top: 0px;
   width: 367px;
   height: 18px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #D71E28;
   border-bottom-width: 18px;
}
#Line2
{
   left: 0px;
   top: 18px;
   width: 367px;
   height: 8px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFF00;
   border-bottom-width: 8px;
}
#wb_Image1
{
   left: 113px;
   top: 0px;
   width: 90px;
   height: 15px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 234px;
   top: 3px;
   width: 66px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 280px;
   top: 3px;
   width: 158px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 233px;
   top: 5px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 233px;
   top: 5px;
   width: 250px;
   height: 24px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   left: 49px;
   top: 37px;
   width: 269px;
   height: 86px;
   visibility: visible;
   display: block;
}
#wb_Text3
{
   left: 9px;
   top: 6px;
   width: 250px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
