.btnDisabled
{
   text-decoration: none;
   background-color: transparent;
   cursor:not-allowed;
   pointer-evets: none;
}
@media only screen and (min-width: 1280px) and (max-width: 1654px)
{
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
}
@media only screen and (min-width: 420px) and (max-width: 479px)
{
}
@media only screen and (min-width: 370px) and (max-width: 419px)
{
}
@media only screen and (max-width: 369px) and (orientation: portrait)
{
}
